# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json

# Python
.venv/
venv/
env/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Git and IDE configurations
.git
.gitignore
.vscode/
.idea/

# Docker files
Dockerfile
.dockerignore
